<% title 'Diets' %>

<div class"pad">
  <div class="diet-title">
    <%= "Diet for #{@user.short_name}" %>
    <%= link_to 'New Diet', new_user_diet_path(@user), class: 'btn primary',
      style: 'float: right;' if can? :create, Diet %>
  </div>
  <% if @diets.present? && @user.program_day >= Settings.diets.default_diet_expires_on_day %>
    <table class="zebra-striped">
      <tbody>
        <%= render @diets %>
      </tbody>
    </table>
  <% else %>
    <div class="diet-date-title">
      <div class="week"><%= Settings.diets.default_title %></div>
      <div class="small"><%= "Days 1 - #{Settings.diets.default_diet_expires_on_day}" %></div>
    </div>
    <div class="clear">
    </div>
    <div class="meal-type">
      <div class="pad"><%= Settings.diets.default.html_safe %></div>
    </div>
  <% end %>
</div>
